@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Rubik+Puddles&display=swap");
body {
  background: #0f0c29; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.montserrat {
  font-family: "Montserrat", sans-serif;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

.balonFont {
  font-family: "Rubik Puddles", cursive;
}

@keyframes typing {
        from {
          width: 0;
        }
        to {
          width: 100%;
        }
      }
      
      .typewriter {
        position: relative; /* Set position to allow absolute positioning of pseudo-element */
        overflow: hidden;
        white-space: nowrap;
        animation: typing 3s steps(30, end);
      }
      
      .cursor-animation {
        position: absolute;
        right: 0;
        width: 1px;
        height: 100%;
        background-color: #000;
        animation: blink 1s infinite;
      }
      
      @keyframes blink {
        0%, 100% {
          opacity: 0;
        }
        50% {
          opacity: 1;
        }
      }
      